body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.action-start {
	background-color: #90d32b !important;
	border: 1px solid #fff !important;
}

.action-kill {
	background-color: #b82921 !important;
	border: 1px solid #fff !important;
}

.icon-toolbar-point { background-image: url('../images/toolbar/point.png'); }
.icon-toolbar-magic-wand { background-image: url('../images/toolbar/magic_wand.png'); }
.icon-toolbar-polygon { background-image: url('../images/toolbar/polygon2.png'); }
.icon-toolbar-zoom { background-image: url('../images/toolbar/zoom.png'); }
.icon-toolbar-ellipse { background-image: url('../images/toolbar/ellipse.png'); }

.icon-toolbar-green { background-image: url('../images/toolbar/green.png'); }
.icon-toolbar-orange { background-image: url('../images/toolbar/orange.png'); }
.icon-toolbar-white { background-image: url('../images/toolbar/white.png'); }
.icon-toolbar-yellow { background-image: url('../images/toolbar/yellow.png'); }
.icon-toolbar-cyan { background-image: url('../images/toolbar/cyan.png'); }
.icon-toolbar-magenta { background-image: url('../images/toolbar/magenta.png'); }
.icon-toolbar-black { background-image: url('../images/toolbar/black.png'); }

div.crosshair {
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url('../images/crosshair.png');
}

.x-tool-battery {
	background-image: url('../svg/battery.svg') !important;
}
