body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon-reaction {
    background-image: url('../javascripts/lib/ext-4.1.1a/resources/themes/images/gray/tree/leaf.gif') !important;
}
